
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
}

body * {
  font-family: "Roboto", sans-serif;
  line-height: 100%;
}


#formato {
  display: flex;
  align-items: center;
  gap: 63px;
}


#textoinfo button {
  font-size: 12px;
  line-height: 16px;

  padding: 8px 16px;
  border: 0.5px solid;
  border-radius: 999px;

  background-color: transparent;

  margin-top: 20px;
}

#fotoeu > img {
  width: 296px;
  height: 288px;
  object-fit: cover;
  border-radius: 50%;
}

#linha > img {
  position: relative;
  left: 290px;
	top: 66px;
}

#linha2 > img {
  position: relative;
  left: 290px;
	top: -366px;
}

h4 {
  font-weight: 300;
  font-size: 13px;
 
}

button {
  cursor: pointer;
}

h1 {
  color: #008000;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 32px;

  margin-top: 12px;
}

p {
  font-size: 13px;
  margin-top: 12px;
  opacity: 0.67;
}

h2 {
  font-size: 20px;
  margin-top: 12px;
  opacity: 0.67;
}

a {
  text-decoration: none;  
}

a:link {
  color: green;
}

a:visited {
  color: rgb(0, 0, 0);
  
}

a:hover {
  color: rgb(0, 0, 0);
  
}

a:active {
  color: green;
} 

a[href^="http"] {
  background: url("./assets/github.svg") no-repeat 100% 0;
  background-size: 20px 14px;
  padding-right: 24px;
}